.lotus {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin: 40px;
  position: relative;
}

.lotus > div {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 0 50% 50% 50%;
  position: absolute;
  left: 12px;
  top: 60px;
  transform-origin: 90px 90px;
  transform: rotate(45deg);
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

.lotus > div:nth-child(1) {
  animation-name: pedal-1;
  background-color: hsla(0, 100%, 50%, 0.2);
}

.lotus > div:nth-child(2) {
  animation-name: pedal-2;
  background-color: hsla(60, 100%, 50%, 0.2);
}

.lotus > div:nth-child(3) {
  /* animation-name: pedal-3; */
  background-color: hsla(120, 100%, 50%, 0.2);
}

.lotus > div:nth-child(4) {
  animation-name: pedal-4;
  background-color: hsla(180, 100%, 50%, 0.2);
}

.lotus > div:nth-child(5) {
  animation-name: pedal-5;
  background-color: hsla(240, 100%, 50%, 0.2);
}

@keyframes pedal-1 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes pedal-2 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* @keyframes pedal-3 {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(0deg);
}
} */

@keyframes pedal-4 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes pedal-5 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}
